@model IEnumerable<OutcomesFirst.ViewModels.ArchiveReasonViewModel>

@{
    ViewData["Title"] = "Archive Reaasons";
}

<h3>Archive Reasons</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArchiveReasonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchiveDecisionBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArchiveReasonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArchiveDecisionBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArchiveReasonId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ArchiveReasonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
