@model IEnumerable<OutcomesFirst.Models.Placement>

@{
    ViewData["Title"] = "Leavers";
}

<h1>Leavers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
               First Name
            </th>
            <th>
               Last Name
            </th>
            <th>
               Gender
            </th>

            <th>
              Age At Leaving
            </th>

            <th>
               Leave Date
            </th>
           
            <th>
               Service
            </th>
            <th>
               Local Authority
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.PlacementFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacementLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacementGender.GenderName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PlacementAgeAtLeaving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacementLeaveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacementService.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacementLocalAuthority.LocalAuthorityName)
            </td>
            <td>
               
                <a asp-action="Details" asp-route-id="@item.PlacementId">Details</a> 
              
            </td>
        </tr>
}
    </tbody>
</table>
