@model OutcomesFirst.Models.Occupancy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Occupancy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyRefId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyRefId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyServiceTransition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyServiceTransition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyDateStartedWithGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyDateStartedWithGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyPlacementStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyPlacementStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyDOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyAgeAtLeaving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyAgeAtLeaving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyFramework)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyFramework)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyWeeklyFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyWeeklyFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyLengthOfStayWithGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyLengthOfStayWithGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyLengthOfStayWithPlacement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyLengthOfStayWithPlacement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyLeaveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyLeaveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyLeaverType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyLeaverType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyLeavingReasonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyLeavingReasonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyGender.GenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyService.ServiceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupancyLocalAuthority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupancyLocalAuthority.LocalAuthorityId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OccupancyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
