@model OutcomesFirst.ViewModels.ArchiveReferralViewModel

@{
    ViewData["Title"] = "Details";
    //IEnumerable<SelectListItem> localAuthorities = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Select...", Selected = true } }
    //         .Concat(Model.localAuthorities
    //         .OrderBy(x => x.LocalAuthorityName)
    //         .Select(t => new SelectListItem
    //         {
    //             Value = t.LocalAuthorityId.ToString(),
    //             Text = t.LocalAuthorityName
    //         })); ;

    //IEnumerable<SelectListItem> genders = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Select...", Selected = true } }
    //         .Concat(Model.genders
    //         .OrderBy(x => x.GenderName)
    //         .Select(t => new SelectListItem
    //         {
    //             Value = t.GenderId.ToString(),
    //             Text = t.GenderName
    //         })); ;

    //IEnumerable<SelectListItem> referraltypes
    //    = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Select...", Selected = true },
    //                        new SelectListItem{ Text="Educational & Residential", Value = "1" },
    //                        new SelectListItem{ Text="Educational Only", Value = "2" },
    //                        new SelectListItem{ Text="Residential Only", Value = "3" }       };


    //IEnumerable<SelectListItem> archivereasons = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Select...", Selected = true } }
    //         .Concat(Model.archiveReasons
    //         .OrderBy(x => x.ArchiveReasonName)
    //         .Select(t => new SelectListItem
    //         {
    //             Value = t.ArchiveReasonId.ToString(),
    //             Text = t.ArchiveReasonName
    //         })); ;


}



<p>
    <h1>Archived Referral Details</h1>

</p>

<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12 card">

                <div class="card-block">
                    <h4 class="card-title">
                        <span style="font-size: 1em; color:#1a75e8;">
                            <i class="fas fa-times-circle small"></i>
                        </span>
                        Unsuitable Referral Details
                    </h4>
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ArchiveReferralName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ArchiveReferralName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ArchiveReferralGenderId)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ArchiveReferralGenderId)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ArchiveReferralLocalAuthorityId)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ArchiveReferralLocalAuthorityId)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ArchiveReferralReceivedDate)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ArchiveReferralReceivedDate)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ArchiveReferralAge)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ArchiveReferralAge)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ArchiveReferralComments)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ArchiveReferralComments)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ArchiveReferralStatusId)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ArchiveReferralStatusId)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ArchiveReferralSuitable)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ArchiveReferralSuitable)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ArchiveReferralArchiveReasonId)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ArchiveReferralArchiveReasonId)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ArchiveReferralSuitableComments)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ArchiveReferralSuitableComments)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ArchiveReferralNotSuitableComments)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ArchiveReferralNotSuitableComments)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ArchiveReferralId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
