
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<head>
    @*<link href="~/css/styles.min.css" rel="stylesheet" />*@

</head>
<p></p>
<div class="container">
    <div class="row" style="margin-top:100px">
        <div class="col-sm-12">
            @if (SignInManager.IsSignedIn(User))
            {<div class="row">
                    <a href="@(Url.Action("Create", "Referrals"))">
                        <div title="Click to view details" class="auction-dashboard-item">
                            <div class="auction-headline">
                                <h1>0</h1>
                                <div class="subtitle">New Referral</div>
                            </div>
                        </div>
                    </a>
                    <a href="@(Url.Action("Status", "Referrals"))">
                        <div title="Click to view details" class="auction-dashboard-item">
                            <div class="auction-headline">
                                <h1></h1>
                                <div class="subtitle">Awaiting Response From Service</div>
                            </div>
                        </div>
                    </a>
                    <a href="@(Url.Action("Index", "ArchiveReferrals"))">
                        <div title="Click to view details" class="auction-dashboard-item">
                            <div class="auction-headline">
                                <h1></h1>
                                <div class="subtitle">Archive</div>
                            </div>
                        </div>
                    </a>
                    <a href="@(Url.Action("OccupancyIndex", "Placements"))">
                        <div title="Click to view details" class="auction-dashboard-item">
                            <div class="auction-headline">
                                <h1></h1>
                                <div class="subtitle">Occupancy</div>
                            </div>
                        </div>
                    </a>

                    <a href="@(Url.Action("Index", "Referrals"))">
                        <div title="Click to view details" class="auction-dashboard-item">
                            <div class="auction-headline">
                                <h1></h1>
                                <div class="subtitle">Live Referrals</div>
                            </div>
                        </div>
                    </a>

                </div>
            }
            else
            {
                <img src="~/images/OutcomesFirstBig.jpg" />
            }
        </div>
    </div>
</div>
