
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/styles.min.css" rel="stylesheet" />

    </environment>
    @*<environment exclude="Development">*@

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link href="https://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        <script src="~/lib/jquery/dist/jquery.js"></script>


        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @*</environment>*@
    <!--Load an icon library to show a hamburger menu (bars) on small screens-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" />
    <link href="~/css/site.min.css" rel="stylesheet" />

</head>
<body>

    @*<nav class="topnav">
            <a class="active" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-home"></i>Home</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

            @if (SignInManager.IsSignedIn(User))
            {

                <nav class="topnav float-right">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>

                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                        <button type="submit" class="nav-link btn btn-nlink topnav btn-lg fas-far-user-times"><i class="fas fa-user-times"></i>Logout</button>
                    </form>
                </nav>
            }
            else
            {
                <nav class="nav-item float-right">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>

                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-fw fa-user"></i>Login</a>
                </nav>
            }

            <a href="javascript:void(0);" class="icon" onclick="myFunction()"></a>
        </nav>*@


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @*<a class="navbar-brand" href="#">
        </a>*@
        <img src="~/images/Hillcrest.jpg" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
            </li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Referrals/Index">Referrals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Submissions/Index">Current Submissions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Placements/Index">Placements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Leavers/Index">Leavers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ArchiveReferrals/Index">Archive</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reports
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Report 1</a>
                        <a class="dropdown-item" href="#">Report 2</a>
                        <a class="dropdown-item" href="#">etc</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        System Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/ArchiveReasons/Index">Archive Reasons</a>
                        <a class="dropdown-item" href="/Genders/Index">Genders</a>
                        <a class="dropdown-item" href="/LocalAuthorities/Index">Local Authorities</a>
                        <a class="dropdown-item" href="/RegionalManagers/Index">Regional Managers</a>
                        <a class="dropdown-item" href="/Regions/Index">Regions</a>
                        <a class="dropdown-item" href="/Services/Index">Services</a>
                        <a class="dropdown-item" href="/Status/Index">Status Codes</a>
                        <a class="dropdown-item" href="/LeavingReasons/Index">Leaving Reasons</a>
                    </div>
                </li>

            }
        </ul>
        <nav class=" top-nav pull-right">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name!</a>

                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                    <button type="submit" class="nav-link btn btn-nlink topnav btn-lg fas-far-user-times"><i class="fas fa-user-times"></i>Logout</button>
                </form>
            }
            else
            {
                @*<a class="nav-link float-right" asp-area="Identity" asp-page="/Account/Register">Register</a>*@

                <a class="nav-link float-right" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-fw fa-user"></i>Login</a>
            }
        </nav>
    </nav>        

    <div class="container">
        <div>
            @RenderBody()
            <hr />
        </div>
    </div>

    @*<div class="main">
        @RenderBody()
        <hr />
    *@
    <footer>
        <div>&copy:2019 -Android Dreams</div>
    </footer>

    <div>

        @*<script src="~/js/site.js" asp-append-version="true"></script>*@

        @RenderSection("Scripts", required: false)
    </div>


</body>
</html>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown()
    });

    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

//* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    //var dropdown = document.getElementsByClassName("dropdown-btn");
    //var i;

    //for (i = 0; i < dropdown.length; i++) {
    //    dropdown[i].addEventListener("click", function () {
    //        this.classList.toggle("active");
    //        var dropdownContent = this.nextElementSibling;
    //        if (dropdownContent.style.display === "block") {
    //            dropdownContent.style.display = "none";
    //        } else {
    //            dropdownContent.style.display = "block";
    //        }
    //    });
    //}

    //function myFunction() {
    //    var x = document.getElementById("myTopNav");
    //    if (x.className === "topnav") {
    //        x.className += " responsive";
    //    }
    //    else {
    //        x.className = "topnav";
    //    }
    //}
</script>