@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link href="https://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        <script src="~/lib/jquery/dist/jquery.js"></script>


        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    </environment>
    <!--Load an icon library to show a hamburger menu (bars) on small screens-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" />
    <link href="~/css/site.min.css" rel="stylesheet" />

</head>
<body>

    <<div>
        <img src="~/images/OutcomesFirst.JPG" />
    </div>

    <nav class="topnav">
        <a class="active" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-home"></i>Home</a>
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

       
        @if (SignInManager.IsSignedIn(User))
        {
            <nav class="topnav float-right">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>

                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                    <button type="submit" class="nav-link btn btn-nlink topnav btn-lg fas-far-user-times"><i class="fas fa-user-times"></i>Logout</button>
                </form>
            </nav>
        }
        else
        {
            <nav class="nav-item float-right">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>

                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-fw fa-user"></i>Login</a>
            </nav>
        }

        <a href="javascript:void(0);" class="icon" onclick="myFunction()"></a>
    </nav>
    <div style="padding-left:100px">



        <!--code for collapsable sidebar-->
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div>
                <a asp-area="" asp-controller="Referrals" asp-action="Index">Referrals</a>
                <a asp-area="" asp-controller="Submissions" asp-action="Index">Current submissions</a>
                <a asp-area="" asp-controller="Occupancies" asp-action="Index">Placement</a>
                <a asp-area="" asp-controller="Leavers" asp-action="Index">Leavers</a>
                <a asp-area="" asp-controller="ArchiveReferrals" asp-action="Index">Archive</a>

                <button class="dropdown-btn caret-color"> System Admin<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-container">
                    <a asp-area="" asp-controller="ArchiveReasons" asp-action="Index">Archive Reasons</a>
                    <a asp-area="" asp-controller="Genders" asp-action="Index">Genders</a>
                    <a asp-area="" asp-controller="LocalAuthorities" asp-action="Index">Local Authorities</a>
                    <a asp-area="" asp-controller="RegionalManagers" asp-action="Index">Regional Managers</a>
                    <a asp-area="" asp-controller="Regions" asp-action="Index">Regions</a>
                    <a asp-area="" asp-controller="Services" asp-action="Index">Services</a>
                    <a asp-area="" asp-controller="Status" asp-action="Index">Status Codes</a>
                    <a asp-area="" asp-controller="LeavingReasons" asp-action="Index">Leaving Reasons</a>

                </div>

                <button class="dropdown-btn "><i class="fas fa-file-alt"></i> Reports</button>
                <div class="dropdown-container">
                    <a asp-area="" asp-controller="" asp-action="">Report 1</a>
                    <a asp-area="" asp-controller="" asp-action="">Report 2</a>
                    <a asp-area="" asp-controller="" asp-action="">Report 3</a>
                    <a asp-area="" asp-controller="" asp-action="">Report 4</a>
                </div>
            </div>
            </div>
            <div>

                @if (SignInManager.IsSignedIn(User))
                {
                    <button class="openbtn menubutton btn btn-primary btn-group-sm" onclick="openNav()">&#9776; Menu</button>
                }
                else
                {
                    <button class="openbtn" hidden onclick="openNav()">&#9776; Menu</button>
                }

            </div>

            <div class="container">
                <div>
                    @RenderBody()
                    <hr />
                </div>
            </div>

            @*<div class="main">
                @RenderBody()
                <hr />
            *@
            <footer>
                <p>&copy:2019 -Android Dreams</p>
            </footer>
        </div>

        <div>

            @*<script src="~/js/site.js" asp-append-version="true"></script>*@

            @RenderSection("Scripts", required: false)
        </div>


</body>
</html>

<script>
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }


    //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

    function myFunction() {
        var x = document.getElementById("myTopNav");
        if (x.className === "topnav") {
            x.className += " responsive";
        }
        else {
            x.className = "topnav";
        }
    }
</script>