@model OutcomesFirst.ViewModels.SubmissionsAddViewModel

@{
    ViewData["Title"] = "Create";
}

<h3>Submit to ServiceServices</h3>
<hr />

<body>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="MVReferralId " class="form-control-static" asp-items="ViewBag.MVReferralId" hidden />
        <input asp-for="MVReferralName " class="form-control-static" asp-items="ViewBag.MVReferralName" hidden />
        <div class="row">
            <div class="col-md-12">
                @*<div class="card">
                <div class="card-body">*@
                <div class="form-group">
                    <div class="row col-md-12">

                        <div class="col-md-2">
                            Referral
                            <div class="col-md-10">
                                @Model.MVReferralName
                            </div>
                        </div>
                        <div class="col-md-2">
                            Gender
                            <div class="col-md-12">
                                @Model.MVGender
                            </div>
                        </div>
                        <div class="col-md-2">
                            Age
                            <div class="col-md-12">
                                @Model.MVAge
                            </div>
                        </div>
                        <div class="col-md-2">
                            Local Authority
                            <div class="col-md-12">
                                @Model.MVLocalAuthority
                            </div>
                        </div>
                        @*<div class="col-md-1"></div>*@
                        <div class="col-md-3">
                            Date Received
                            <div class="col-md-12">
                                @Model.MVDateReceived
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</div>
        </div>*@
        <div class="row">
            @foreach (var region in Model.regions)
            {
                <div class="col-sm-5">
                    <div class="card">
                        <div class="card-header" style="background-color:#b9e488">
                            <h4 class="card-title">
                                <span style="font-size: 1em; color:#1a75e8;">
                                    <i class="fas fa-globe small"></i>
                                </span>
                                @Html.DisplayFor(modelItem => region.RegionName)
                            </h4>
                        </div>

                        <div class="card-body">
                            @foreach (var item in Model.ServicesVM)
                            {
                                @if (item.ServiceRegionId == region.RegionId)
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-8">
                                                @item.ServiceName
                                            </div>
                                            <div class="col-md-2">

                                                <input asp-for="MVIsChecked" name="Submission.IsChecked" type="checkbox" value="@item.ServiceId" /><br />

                                                <span asp-validation-for="MVIsChecked" class="text-danger small"></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
