@model OutcomesFirst.ViewModels.SubmissionIndexData

@{
    ViewData["Title"] = "Create";
}


<h3>Submit to Services</h3>
<hr />

<body>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                Referral:
                            </div>
                            <div class="col-md-2">
                                @Model.MVReferralName
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Gender
                            </div>
                            <div class="col-md-2">
                                @Model.MVGender
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Age:
                            </div>
                            <div class="col-md-2">
                                @Model.MVAge
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Local Authority:
                            </div>
                            <div class="col-md-2">
                                @Model.MVLocalAuthority
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Date Received:
                            </div>
                            <div class="col-md-2">
                                @Model.MVDateReceived
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        <div class="row">
            @foreach (var region in Model.regions)
            {
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header" style="background-color:#b9e488">
                            <h4 class="card-title">
                                <span style="font-size: 1em;">
                                    <i class="fas fa-globe small"></i>
                                </span>
                                @Html.DisplayFor(modelItem => region.RegionName)
                            </h4>
                        </div>

                        <div class="card-body">
                            @foreach (var item in Model.Services)
                            {
                                @if (item.ServiceRegionId == region.RegionId)
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            @item.ServiceName
                                            <div class="col-md-2">
                                                <input asp-for="MVIsChecked" name="Submission.IsChecked" type="checkbox" value="@item.ServiceId" /><br />

                                                <span asp-validation-for="MVIsChecked" class="text-danger small"></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
