@model OutcomesFirst.ViewModels.SubmissionViewModel

@{
    ViewData["Title"] = "Create";
   
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link href="~/css/site.min.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
  
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</head>
<p>
    <h3>Create New Submission</h3>
</p>

<body>
    <div class="container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.SubmissionReferralId)
            @for(int i = 0; i < Model.services.Count(); i++)
            {
             @Html.HiddenFor(model => model.services[i].IsChecked)
            }

            <div class="row">
                @for (int j = 0; j < @Model.regions.Count; j++)
                {
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header" style="background-color:#b9e488">
                                <h4 class="card-title">
                                    <span style="font-size: 1em;">
                                        <i class="fas fa-user small"></i>
                                    </span>
                                    @Model.regions[j].RegionName
                                </h4>
                            </div>
                            <div class="card-body">
                                @for (int i = 0; i < @Model.services.Count; i++)
                                {
                                    @if (@Model.services[i].ServiceRegionId == @Model.regions[j].RegionId)
                                    {
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    @Model.services[i].ServiceName;
                                                </div>
                                                <div class="col-md-6">
                                                    <input asp-for="services[i].IsChecked" type="checkbox" value="true">

                                                    <span asp-validation-for="services[i].IsChecked" class="text-danger small"></span>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                        </div>
                    </div>
                }
            </div>


            <div class="form=group">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>


<div>
    <a asp-action="Index" class="small">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="radio"]').click(function () {
                var inputValue = $(this).attr("value");
                var targetBox = $("." + inputValue);
                $(".box").not(targetBox).hide();
                $(targetBox).show();
            });
        });
    </script>
