@model OutcomesFirst.ViewModels.SubmissionIndexData

@{
    ViewData["Title"] = "Create";
}


<h3>Submit to Services</h3>
<hr />

<body>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="MVReferralId " class="form-control-static" asp-items="ViewBag.MVReferralId" hidden />
        <input asp-for="MVReferralName " class="form-control-static" asp-items="ViewBag.MVReferralName" hidden />
         <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header" style="background-color:#b9e488">

                            <div class="form-group">
                                <h4>
                                    <span style="font-size: 1em; color:#1a75e8;">
                                        @if (@Model.MVGender == "Male")
                                        {
                                            <i class="fas fa-male lg"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-female big"></i>
                                        }

                                        &nbsp;
                                        @Model.MVReferralName &nbsp;

                                        @Model.MVGender &nbsp;

                                        Age  @Model.MVAge &nbsp;
                                        LA - @Model.MVLocalAuthority &nbsp;

                                        Received @Model.MVDateReceived
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   
       
        @*</div>
        </div>*@
        <div class="row">
            @foreach (var region in Model.regions)
            {
                @if (Model.Services.Count > 0)
                {
                    <div class="col-sm-5">
                        <div class="card">
                            <div class="card-header" style="background-color:#b9e488">
                                <div class="card-title">
                                    <span style="font-size: 1em; color:#1a75e8;">
                                        <i class="fas fa-globe small"></i>
                                    </span>
                                    @Html.DisplayFor(modelItem => region.RegionName)
                                </div>
                            </div>

                            <div class="card-body">
                                @foreach (var item in Model.Services)
                                {
                                    @if (item.ServiceRegionId == region.RegionId)
                                    {
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    @item.ServiceName
                                                </div>
                                                <div class="col-md-6">

                                                    <input asp-for="MVIsChecked" id="@item.ServiceId" class="with-font" name="Submission.IsChecked" type="checkbox" value="@item.ServiceId" />
                                                    <label for="@item.ServiceId"></label><br />
                                                    <span asp-validation-for="MVIsChecked" class="text-danger small"></span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
        <div class="form-group">
            <input type="submit" value="Submit"  class="btn btn-success" />
        </div>

    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
