@model IEnumerable<OutcomesFirst.Models.Submission>


@{
    ViewData["Title"] = "Submissionas";
}

    <h3>Submissions</h3>


<table class="table">
    <thead>
        <tr>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.SubmissionId)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.SubmissionReferral.ReferralName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionService.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionStatus.StatusName)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.SubmissionId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item..SubmissionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
