@model OutcomesFirst.Models.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceAddress1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceAddress1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceAddress3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceAddress3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceAddress4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceAddress4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicePostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicePostcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicePlaces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicePlaces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceRegion.RegionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ServiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
