@model PaginatedList<OutcomesFirst.Models.Service>

@{
    ViewData["Title"] = "Sustem Admin";
}

<h1>Services</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Service
            </th>
            
            <th>
                Places
            </th>
            <th>
                Region
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.ServicePlaces)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceRegion.RegionName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServiceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ServiceId">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>




