@model IEnumerable<OutcomesFirst.Models.Service>

@{
    ViewData["Title"] = "Services";
}

<h1>Services</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceAddress3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceAddress4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicePostcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicePlaces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceRegion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceAddress3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceAddress4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePostcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePlaces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceRegion.RegionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
